:root {
    --primary: #ff1717;
    --secondary: #192436;
    --primary-hover: #a6e300;
    --primary-dark: #7d0000;
    --rgba-primary-1: rgba(255, 23, 23, 0.1);
    --rgba-primary-2: rgba(255, 23, 23, 0.2);
    --rgba-primary-3: rgba(255, 23, 23, 0.3);
    --rgba-primary-4: rgba(255, 23, 23, 0.4);
    --rgba-primary-5: rgba(255, 23, 23, 0.5);
    --rgba-primary-6: rgba(255, 23, 23, 0.6);
    --rgba-primary-7: rgba(255, 23, 23, 0.7);
    --rgba-primary-8: rgba(255, 23, 23, 0.8);
    --rgba-primary-9: rgba(255, 23, 23, 0.9);
    --title: #071c35;
    --quote: url(../images/quote-1.png);
}
